services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: retail_analytics
      POSTGRES_USER: analytics_user
      POSTGRES_PASSWORD: analytics_pass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ../sql:/sql

volumes:
  pgdata:
